
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E8F8FF;
    border-radius: 12px;
}

ul button {
    border-radius: 12px;
    float: right;
    padding: 5px 5px;
    margin-top: 40px;
    margin-right: 10px;
    border-color: #2c2e03;
    color: #2c2e03;
    cursor: pointer;
    background-color: #f6f5ac;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

li {
    float: left;
}

li a {
    /* 1 pixel black shadow to left, top, right and bottom */
    text-shadow: -1px 0 #f6f5ac, 0 1px #f6f5ac, 1px 0 #f6f5ac, 0 -1px #f6f5ac;

    font-family: 'Times New Roman', Times, serif; color: #2c2e03;

    display: block;
    color: #2c2e03;
    padding: 24px 10px;
    text-decoration: none;
    font-size: 20px;
    margin-top: 15px;
}

li a img {
    border-radius: 12px;
    background-color: #d3edfc;
    /*background-color: rgb(22, 2, 94);*/
}

li a:hover {
    background-image: radial-gradient(#b9e3fa, #E8F8FF 60%);
}

header {
    text-align: center;
}

body {
    background-image: linear-gradient(#B4DCED, #E8F8FF 70%);
}

h1 {
    text-shadow: -1px 0 #f6f5ac, 0 1px #f6f5ac, 1px 0 #f6f5ac, 0 -1px #f6f5ac;

    font-family: 'Times New Roman', Times, serif; color: #2c2e03;
}


/* from old css */

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    /* border: 2px solid yellow; */
}

.flex-child ul {
    text-shadow: -1px 0 #f6f5ac, 0 1px #f6f5ac, 1px 0 #f6f5ac, 0 -1px #f6f5ac;

    font-family: 'Times New Roman', Times, serif; color: #2c2e03;
}

.flex-child b {
    text-shadow: -1px 0 #f6acac, 0 1px #f6acac, 1px 0 #f6acac, 0 -1px #f6acac;

    font-family: 'Times New Roman', Times, serif; color: #2e0303;
}

.flex-child:first-child {
    margin-right: 20px;
    text-align: justify;
    display: block;
}

.center {
    width: fit-content;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.hidden {
    display: none
}

.center p {
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: radial-gradient(#ecf6fb 45%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
}