
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(23, 8, 86);
}

ul button {
    border-radius: 12px;
    float: right;
    padding: 5px 5px;
    margin-top: 40px;
    margin-right: 10px;
    border-color: #f6f5ac;
    color: #f6f5ac;
    cursor: pointer;
    background-color: #2c2e03;
}

ul .btn-group button {
    padding: 10px 20px;
    margin-top: 30px;
    background-color: #2e0303;
    border-color: #f6acac;
    color: #f6acac;
}

li {
    float: left;
}

li a {
    /* 1 pixel black shadow to left, top, right and bottom */
    text-shadow: -1px 0 #2c2e03, 0 1px #2c2e03, 1px 0 #2c2e03, 0 -1px #2c2e03;

    font-family: sans; color: #f6f5ac;

    display: block;
    color: #f6f5ac;
    padding: 24px 26px;
    text-decoration: none;
    font-size: 20px;
    margin-top: 15px;
}

li a:hover {
    background-image: radial-gradient(rgb(38, 12, 132), rgb(23, 8, 86) 60%);
    /*background-color: rgb(22, 2, 94);*/
}

header {
    text-align: center;
}

body {
    background-image: linear-gradient(rgb(31, 8, 63), rgb(27, 3, 111) 70%);
    /* rgb(42, 11, 154) */
}